*/__pycache__/
*/*/__pycache__/
trimodal_gaussian/*.txt
trimodal_gaussian/backend*
gwtc3_z_m1_q/outdir*/
gwtc3_z_m1_q/first_test/backend
mock_lvk_pop/datasets/*
mock_lvk_pop/injections/*
mock_lvk_pop/test*/
gwtc5_z_m1_q/*.npz
